// Specific CSS for your home-page
.home-hero {
  background-image: image-url("home/home-hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.home-section-body {
  margin: 3rem 0;
}

.home-items {

  img {
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: 200ms ease-in;
    width: 30%
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

}

@media (max-width: 500px) {

  .home-hero {
    min-height: 450px;
  }

}
