// Specific CSS for your restaurant header
.resto-top {
  background-image: image-url("resto-top.jpg");
  background-position: center;
  background-size: cover;
  min-height: 350px;

  h1 {
    line-height: 1;
  }

}