// Specific CSS for your restaurant header
.resto-top {
  background-image: image-url("resto-top.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  z-index: -9;

  h1 {
    line-height: 1;
  }

  .resto-top-wrap {
    height: 350px;
    transform: translate(-50%);
    left: 50%;
  }

}

.location-sticky {
  position: sticky;
  top: 70px;
  z-index: 999;
}

@media (max-width: 500px) {

  .location-sticky {
    top: 64px;
    z-index: 9999;
  }

}