<header class="sticky-top bg-white">
  <div class="header-wrap container p-3 d-flex flex-wrap align-items-center justify-content-between">
    <div class="d-flex flex-wrap col-5 align-items-center justify-content-between">
      <h1 class="mb-0">
        <%= link_to root_path, class: 'd-block text-dark font-weight-bolder' do %>
        POSTMATES
        <% end %>
      </h1>
      <% unless current_page?(root_path) %>
        <form class="header-search">
          <div class="form-group mb-0">
            <div class="d-inline-block">
              <i class="fas fa-search"></i>
            </div>
            <div class="d-inline-block">
              <input type="email" class="form-control border-0" id="exampleFormControlInput1" placeholder="Search for anything…">
            </div>
          </div>
        </form>
      <% end %>
    </div>
    <%= render "shared/nav-links" %>
  </div>
</header>