<div class="container mt-5">
  <h2> Order ID #00000<%= @order.id %> Summary </h2>
  <p>
  <strong><%= @order.restaurant.name %></strong><br>
  <%= @order.restaurant.address %>
  </p>
  <p>Total Purchase: $<%= @order.total_order/100 %></p>
  <p>Status: Paid </p>
  <p>Delivery Status: Pending</p>
</div>