<div class="container mt-5">
  <h2> Order Summary </h2>
  <p> <%= @order.menu_items.name %> Price: $200 Quantity: 1</p>
  <p>Total Purchase: $<%= @order.total_order %></p>
  <p>Status: Paid </p>
  <p>Delivery Status: Pending</p>
</div>