<section class="resto-top d-flex flex-wrap align-items-center justify-content-between">
  <div class="container py-5">
    <h1 class="display-3 font-weight-bolder text-white">You crave.<br>We get it.</h1>
  </div>
</section>
<div class="header-restaurant border-bottom">
  <div class="d-flex justify-content-between m-auto" style="height: 100%; max-width: 1024px;">
    <div class="d-flex position-relative align-items-center">
      <div class="d-flex justify-content-between">
        <div class="bd-highlight">Delivery</div>
        <div class="bd-highlight">Address</div> 
      </div>
    </div>
  </div>
</div>

<div class="container-restaurant">
  <div class="d-flex position-relative justify-content-between pt-5 border-bottom">
    <h3><strong>Top Categories</strong></h3>
  </div>
  <div class="card-groups-category pt-4">
    <div class="row">
      <div class="card col mx-1 ml-3">
        <img src="https://images.unsplash.com/photo-1596914209441-6108fd5771f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" class="card-img-top" style="height: 15vw; object-fit: cover;" alt="...">
          <div class="card-body">            
            <h5 class="card-title"><strong>American</strong></h5>
          </div>
      </div>
      <div class="card col mx-1 ml-3" >
        <img src="https://images.unsplash.com/photo-1608651273743-e4426ef9b271?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;" alt="...">
          <div class="card-body">            
            <h5 class="card-title"><strong>Chinese</strong></h5>
        </div>
      </div>
    <div class="card col mx-1 ml-3" >
        <img src="https://images.unsplash.com/photo-1590301157890-4810ed352733?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;" alt="...">
          <div class="card-body">            
            <h5 class="card-title"><strong>Korean</strong></h5>
      </div>
    </div>
    <div class="card col mx-1 ml-3" >
        <img src="https://images.unsplash.com/photo-1580822184713-fc5400e7fe10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;" alt="...">
          <div class="card-body">            
            <h5 class="card-title"><strong>Japanese</strong></h5>
          </div>
    </div>
    <div class="card col mx-1 ml-3" style="height: 20vw;">
        <img src="https://images.unsplash.com/photo-1571167366136-b57e07761625?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;" alt="...">
          <div class="card-body">            
            <h5 class="card-title"><strong>Spanish</strong></h5>
          </div>
    </div>
  </div>

  <div class="d-flex pt-5">
    <div class="d-flex">
      <h3><strong>Daily Deals</strong></h3>
    </div>
  </div>
  <div class="d-flex justify-content-between border-bottom">
  <p>Epic deals from your favorite restaurants!</p>
  <p>view all 24</p>
  </div>
  <div class="card-group pt-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
        <div class="card-body">            
          <h5 class="card-title">Restaurant name</h5>
          <p class="card-text">Delivery price</p>
          <p class="card-text">Delivery time</p>
          <p class="card-text">Restaurant type</p>
        </div>
    </div>
    <div class="card ml-3">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Restaurant name</h5>
          <p class="card-text">Delivery price</p>
          <p class="card-text">Delivery time</p>
          <p class="card-text">Restaurant type</p>
      </div>
    </div>

    <div class="card ml-3">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Restaurant name</h5>
          <p class="card-text">Delivery price</p>
          <p class="card-text">Delivery time</p>
          <p class="card-text">Restaurant type</p>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between pt-5 border-bottom">
  <h3><strong>Nearby</strong></h3>
</div>
<div class="card-group pt-4">
  <div class="card">
    <div class="card-body">            
      <h5 class="card-title">Restaurant name</h5>
      <p class="card-text">Delivery price</p>         
      <p class="card-text">Delivery time</p>
      <p class="card-text">Restaurant type</p>
    </div>
</div>
<div class="card ml-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">            
      <h5 class="card-title">Restaurant name</h5>
      <p class="card-text">Delivery price</p>         
      <p class="card-text">Delivery time</p>
      <p class="card-text">Restaurant type</p>
    </div>
</div>
<div class="card ml-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">            
      <h5 class="card-title">Restaurant name</h5>
      <p class="card-text">Delivery price</p>         
      <p class="card-text">Delivery time</p>
      <p class="card-text">Restaurant type</p>
    </div>
</div>
