.restaurant-menu-image {

  height: 128px;
  width: 128px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;    
  }

}

.restaurant-menu-item-price {
  
  font-size: 0.9rem !important;
  bottom: 5px;

}

.restaurant-menu-add-btn {
  background-color: #1EDD88;
  border: none;
  border-radius: 999px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: all 250ms ease-in; 
}

.restaurant-menu-item:hover .restaurant-menu-add-btn {
  opacity: 1.0;
}

.restaurant-menu-item:hover .restaurant-menu-add-btn:hover {
  background-color: #fff;
  color: $green;
}

.restaurant-menu-item-info {

  p {

    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 14px;
    -webkit-letter-spacing: 0.14px;
    -moz-letter-spacing: 0.14px;
    -ms-letter-spacing: 0.14px;
    letter-spacing: 0.14px;
    font-weight: 400;
    line-height: normal;
    line-height: 1.43;
    color: rgba(143,149,163,0.9);

  }
}